<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<wicket:extend>
   Rose India Technologies Pvt. Ltd.  is a global services company 
that ensures maximum returns by providing quality software solutions
 and services. The Indian based company provides services to several
 reputed institutional clients, in the domain of IT and IT enabled 
Technologies. We help in understanding the client requirements and 
offer customized solutions in various specialized areas like Web 
based Technologies, Database Systems, Client Server Architecture,
E-commerce Solutions and Consultancy Services. Other services offered
include Online Technical Tutorials, Content Development and Generation,
Web solutions for B2B, B2C, C2C and Travel portals, Web Development,
Promotion and Hosting, and Applications Service Provider Solutions.
With expertise and skilled human resource, we also provide assistance
for offshore development of projects.

Rose India, engaged in providing software solutions world wide,
intends to offer flexible business-centered services in the most simplified
way possible. Our quality and cost-effective solutions compliment our 
client's specific business needs.
</wicket:extend>

</body>
</html>