/*estilo padr&atilde;o para o body */
body {
	font: 0.7em Verdana, Arial, Lucida, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	/* 99.9999% para evitar que o firefox coloque a barra de rolagem horizontal sem necessidade */
	width: 99.9999%;
	height: 99.9999%;
}


/*div que cont&eacute;m o aviso na tela de login */
#principal {
	padding-top: 1em;
	float: left;
	width: 70%;
	margin-right: -16em;
	text-align: left;
}

#mensagem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: red;
	border-style: none;
	border-width: 0px;
	text-align: left;
	font-weight: bold;

}

.cinquenta {
	width: 50%;
}

.setenta {
	width: 70%;
}

.trintaecinco {
	width: 35%;
}

.quinze {
	width: 15%;
}

.oitentaecindo {
	width: 85%;
}

.vinte {
	width: 20%;
}

.oitenta {
	width: 80%;
}

.direita {
	text-align: right;
}


#skip a {
	position: absolute;
	top: 1px;
	left: 1px;
	overflow: hidden;
	width: 0;
	height: 0;
	color: #666;
	text-decoration: none;
}

#skip a:active,#skip a:focus {
	position: absolute;
	overflow: visible;
	margin: 0;
	padding: 1px;
	width: auto;
	height: auto;
	border: 0;
	text-decoration: none;
	background: #ffffcc;
}


.li1 {
	background-color: #ECF2FF;
	border: 1px solid #4582FC;
	/*float: left;*/
	font-weight: bold;
	margin: 0px 2px 0px 0px;
	position: relative;
	text-decoration: none;
	width: auto;
	list-style: none;
	display: inline;
}

#content {
	font-size: 11px;
	clear: both;
	background-color: #8CACcC;
	border-top: 1px solid #4582FC;
	font-weight: bold;
	text-align: center;
	width: 100%;
	height: 22px;
}

#content_titulo {
	font-size: 20px;
	clear: both;
	background-color: #ECF2FF;
	border-bottom: 1px solid #4582FC;
	font-weight: bold;
	text-align: center;
	width: 100%;
	height: 37px;
}

#conteudo {
	font-size: 11px;
	border: 1px solid #4582FC;
	font-weight: bold;
	background-color: #ECF2FF;
    overflow-y:auto;
	position: relative;
	bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.li1 a { /*display: block;*/
	padding: 0px 10px;
}

.ul1 {
	margin: 0px;
	padding: 0px;
}

h5 {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 120%;
}


.formulario {
	text-align: left;
	background-color: #ecf2ff;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

table td {
	line-height: 15px;
	vertical-align: middle;
}

/*========== Identificação dos formulários========= */
.central {
	border-bottom-width: 3px;
	border-bottom: solid;
	border-bottom-color: #33333CC;
	color: #3333CC;
	font-size: 130%;
	margin-top: 5px;
	_margin-top: 25px;
	text-align: center;
	padding: 5px 5px 5px 5px;
}

.subcentral {
	border-bottom-width: 3px;
	border-bottom: solid;
	border-bottom-color: #33333CC;
	color: #3333CC;
	font-size: 110%;
	margin-top: 5px;
	_margin-top: 10px;
	text-align: center;
	padding: 5px 5px 5px 5px;
}

.tabela {
	background-color: #D5E1FA;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	border: solid 1px #ECF2FF;
	height: 25px;
}
.body {
	background-color: #D5E1FA;
	height: 100%;

}

.tabela_tr {
	background-color: #ECF2FF;
	height: 20px;
}

.tabela_d {
	font-size: 11px;
	border: solid 1px #FFFFFF;
}


/*======== Inputs do formulário ==========*/
.txt_pp {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 20px;
}

.txt_ppg {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 40px;
}

.txt_pq {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 100px;
}

.txt_md {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 200px;
}

.txt_gd {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 406px;
}

.combo_pp {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 80px;
}

.combo_pq {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 100px;
}

.combo_pm {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 125px;
}

.combo_md {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 200px;
}

.combo_gd {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 406px;
}

.textbox {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 406px;
}


/* Botões */
.button {
	font-size: 12px;
	border: 1px solid #4582FC;
	font-weight: bold;
	background-color: #ECF2FF;
	height: 19px;
}

.dia {
	width: 75px;
	font-size: 80%;
}

.mes {
	width: 55px;
	font-size: 80%;
}

.ano {
	width: 30px;
	font-size: 80%;
}

.hora {
	width: 40px;
	font-size: 80%;
}

/*======== TITLE - Hints dos formulários ==========*/
a.title_hint {
	text-decoration: none;
	cursor: help;
}

a.title_hint:hover {
	color: #0000CC;
	text-decoration: none;
}

/*=========== Tabela de inclusão de subregistros=========== */
#tabela_subregistro h1 {
	font-weight: bold;
	text-align: center;
	font-size: 100%;
	margin: -5px;
}

#tabela_subregistro td {
	text-align: center;
	padding: 5px;
	font-size: 100%;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
}

.subregistro_tr_01_centro {
	text-align: center;
}

.subregistro_th_titulo th {
	/*----------------- Antes denominada de tdHeader3 ----------*/
	background-color: #D5E1FA;
	text-align: center;
	font-weight: bold;
}

.coluna_radio {
	width: 5%;
}

.coluna_alterar {
	width: 5%;
}

.textoleft {
	text-align: left;
}

.textoright {
	text-align: right;
}

.navigator{
	margin-top:-14px;
	text-align: right;
}

.cabecalho_formulario {
	background: inherit;
	background-color: #87AEFC;
	text-align: left;
	height: 23px;
	width: 100%;
}

.cabecalho_botoes{
	text-align: right;
	margin-top: -20px;
}

.titulo_formulario{
	height: 25px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 15;
	background-color: #D5E1FA;
}



