/*estilo padr&atilde;o para o body */
body {
	font: 0.7em Verdana, Arial, Lucida, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	/* 99.9999% para evitar que o firefox coloque a barra de rolagem horizontal sem necessidade */
	width: 99.9999%;
	height: 99.9999%;
}

/*div que cont&eacute;m o aviso na tela de login */
#principal {
	padding-top: 1em;
	float: left;
	width: 70%;
	margin-right: -16em;
	text-align: left;
}

#mensagem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: red;
	border-style: none;
	border-width: 0px;
	text-align: left;
	font-weight: bold;

}

/*estilo das p&aacute;ginas de menus*/
#subMenu {
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: left;
	border-color: #0000FF;
	background-color: #ecf2ff;
	padding: 2px;
}

#subMenu #menulist li a {
	color: #00F;
	float: none;
	border: 0px;
}

#subMenu #menulist li a:hover {
	color: #FFF;
	float: none;
}

/*estilo dos links*/
a:link {
	color: #0000FF;
	text-decoration: none;
}

a:visited {
	color: #0000FF;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
	text-decoration: underline;
}

a:active {
	color: #FF0000;
	text-decoration: none;
}

/*estilo das listas n&atilde;o ordenadas*/
ul li {
	font-weight: bold;
	list-style-image: url(../imagens/bullet1a.gif);
}

ul li li {
	font-weight: normal;
	list-style-image: url(../imagens/bullet1a.gif);
}

/*div que cont&eacute;m todas as outras estruturas*/
#estrutura { #
	height: 70%;
}

/*div contendo o menu horizontal*/
#menu {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #cc6600;
	float: left;
}

/*estilos do menu*/
#menulist {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 1em;
	/*	background-color: #cc6600;*/
	color: White;
	font-family: verdana, arial, helvetica, sans-serif;
	clear: both;
	list-style-type: none;
}

#menulist ul {
	height: 20px;
}

#menulist li {
	display: inline;
}

.primeiro {
	border-left: 1px solid #fff;
}

#menulist li a {
	padding: 0.2em 1em;
	text-decoration: none;
	float: left;
	/*  background-color: #cc6600;*/
	color: White;
	border-right: 1px solid #fff;
	height: 15px;
	_height: 16px;
}

#menulist li a:hover {
	background-color: #369;
	color: #fff;
}

/*div que posiciona a barra de caminho do sistema "bread-crumbs"*/
#caminho {
	border-bottom-color: #8cacbb;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: #8cacbb;
	border-top-style: solid;
	border-top-width: 1px;
	padding-left: 1em;
	clear: both;
}

/*div com o rodap&eacute; do sistema*/
#rodape {
	bottom: 0;
	clear: both;
	height: 25px;
	border-top: 1px solid #8cacbb;
	border-bottom: 1px solid #8cacbb;
	text-align: center;
	background: url(../imagens/bck4.jpg) repeat-y;
	bottom: 0px;
}

.cinquenta {
	width: 50%;
}

.setenta {
	width: 70%;
}

.trintaecinco {
	width: 35%;
}

.quinze {
	width: 15%;
}

.oitentaecindo {
	width: 85%;
}

.vinte {
	width: 20%;
}

.oitenta {
	width: 80%;
}

.direita {
	text-align: right;
}

table caption {
	color: #3333CC;
	font-weight: bold;
	text-align: center;
	font-size: 1em;
}

.tdHeader1 {
	background-color: #87AEFC;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}

.tdHeader2 {
	background-color: #87AEFC;
}

/* Utilizado na tabela de subregistro*/
.tdHeader3 {
	background-color: #D5E1FA;
	text-align: center;
	font-weight: bold;
	subregistro_th_titulo
}

.tdHeader3right {
	background-color: #D5E1FA;
	text-align: right;
}

.tdHeader4 {
	background-color: #ECF2FF;
}

.contentBold {
	font-weight: bold;
	text-align: auto;
}

.contentRight {
	text-align: right;
}

.contentCenter {
	text-align: center;
}

.contentRightpad {
	text-align: right;
	padding-right: 6px;
}

#skip a {
	position: absolute;
	top: 1px;
	left: 1px;
	overflow: hidden;
	width: 0;
	height: 0;
	color: #666;
	text-decoration: none;
}

#skip a:active,#skip a:focus {
	position: absolute;
	overflow: visible;
	margin: 0;
	padding: 1px;
	width: auto;
	height: auto;
	border: 0;
	text-decoration: none;
	background: #ffffcc;
}

legend {
	border: 1px solid blue;
	padding: 0 3px;
}

.li1 {
	background-color: #ECF2FF;
	border: 1px solid #4582FC;
	/*float: left;*/
	font-weight: bold;
	margin: 0px 2px 0px 0px;
	position: relative;
	text-decoration: none;
	width: auto;
	list-style: none;
	display: inline;
}

#content {
	font-size: 11px;
	clear: both;
	background-color: #8CACcC;
	border-top: 1px solid #4582FC;
	font-weight: bold;
	text-align: center;
	width: 100%;
	height: 22px;
}

#content_titulo {
	font-size: 20px;
	clear: both;
	background-color: #ECF2FF;
	border-bottom: 1px solid #4582FC;
	font-weight: bold;
	text-align: center;
	width: 100%;
	height: 37px;
}

#conteudo {
	font-size: 11px;
	border: 1px solid #4582FC;
	font-weight: bold;
	background-color: #ECF2FF;
    overflow-y:auto;
	position: relative;
	bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#formulario_popup {
	font-size: 11px;
	border: 1px solid #4582FC;
	font-weight: bold;
	background-color: #ECF2FF;
	position: relative;
	bottom: 0px;
	width: 100%;

}




#corpoformulario {
	clear: both;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid 1px #000000;
	height: 95%;
}

.li1 a { /*display: block;*/
	padding: 0px 10px;
}

.ul1 {
	margin: 0px;
	padding: 0px;
}

.tabact {
	background-color: #678EDC;
}

.tabact .a1,.tabact .a1:visited {
	color: #FFF;
}

.pesquisa.navegacao {
	text-align: center;
	margin: 5px 0px;
}

.pesquisa a {
	padding: 3px;
}

/*========= ELEMENTOS GERAIS =========*/
h5 {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 120%;
}

/*========= TOPO - CABECALHO=========*/
#cabecalho {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 110px;
	clear: both;
	border-bottom-color: #8CACBB;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

#cabecalhologin {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 87px;
	clear: both;
	border-bottom-color: #8CACBB;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

/*DIV que posiciona os detalhes do sistema*/
#detalhes-sistema {
	width: 28.5em;
	float: right;
	padding: 4px 2em 0 0;
	text-align: left;
}

#detalhes-sistema h1 {
	font-size: 160%;
	margin-bottom: -.7em;
	font-weight: normal;
	margin-top: 0;
}

/*Posicionamento da Figura Marca Cliente*/
#portal-logo {
	width: 40%;
	float: left;
	margin: .88em 1em;
	_margin: .8em 1em;
	/*padding-bottom:2em;*/
}

#marca-sistema {
	margin-top: 2em;
	_margin-top: 1em;
}

/*DIV com o conteudo da tela logado*/
#conteudoLogado {
	margin: 2em;
	margin-left: 25%;
	margin-right: 25%;
	min-width: 40%;
	text-align: center;
}

.formulario {
	text-align: left;
	background-color: #ecf2ff;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.formulario_login input.button {
	color: white;
	background-color: #87AEFC;
}

.aviso_login {
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}

.aviso_login h2 {
	border: none;
	text-transform: none;
	color: #000;
	font-size: 120%;
	padding-left: 0;
	padding-top: 0;
}

#direita {
	float: right;
	width: 180px;
	padding-top: 1em;
	padding-bottom: 0.8em;
	padding-right: 3em;
	text-align: center;
}

#direita p {
	font-weight: bold;
	font-size: 90%;
	margin-bottom: 5px;
	padding: 0;
	text-align: center;
}

/*========= TABELAS do sistema =========*/
table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

table td {
	line-height: 15px;
	vertical-align: middle;
}

/*========== Identificação dos formulários========= */
.central {
	border-bottom-width: 3px;
	border-bottom: solid;
	border-bottom-color: #33333CC;
	color: #3333CC;
	font-size: 130%;
	margin-top: 5px;
	_margin-top: 25px;
	text-align: center;
	padding: 5px 5px 5px 5px;
}

.subcentral {
	border-bottom-width: 3px;
	border-bottom: solid;
	border-bottom-color: #33333CC;
	color: #3333CC;
	font-size: 110%;
	margin-top: 5px;
	_margin-top: 10px;
	text-align: center;
	padding: 5px 5px 5px 5px;
}

.formulario_td_busca {
	padding-right: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
	background-color: #87AEFC;
}

.formulario_td_busca_center {
	padding-right: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	background-color: #87AEFC;
}

.titulo_subsecao_formulario {
	font-size: 100%;
	padding-left: 10px;
	font-weight: bold;
}

/* Área de formulários */
.formulario_1 {
	background-color: #D5E1FA;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	border: solid 1px #ECF2FF;
	height: 25px;
}

.formulario_2 {
	font-size: 11px;
	background-color: #ECF2FF;
	height: 20px;
	border-width: 0px;
}

/* Área de formulários */
.formulario_td_titulo {
	background-color: #D5E1FA;
	padding-right: 10px;
	text-align: left;
	width: 30%;
	font-weight: bold;
	font-size: 10px;
}

/*======== Inputs do formulário ==========*/
.txt_pp {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 20px;
}

.txt_ppg {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 40px;
}

.txt_pq {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 100px;
}

.txt_md {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 200px;
}

.txt_gd {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 406px;
}

.combo_pp {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 80px;
}

.combo_pq {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 100px;
}

.combo_pm {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 125px;
}

.combo_md {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 200px;
}

.combo_gd {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 406px;
}

.textbox {
	border: 1px;
	border-style: solid;
	border-color: #4582FC;
	font-size: 12px;
	width: 406px;
}

#formulario input.button {
	color: white;
	background-color: #87AEFC;
}

/* Botões */
.button {
	font-size: 12px;
	border: 1px solid #4582FC;
	font-weight: bold;
	background-color: #ECF2FF;
	height: 26px;
}

.dia {
	width: 75px;
	font-size: 80%;
}

.mes {
	width: 55px;
	font-size: 80%;
}

.ano {
	width: 30px;
	font-size: 80%;
}

.hora {
	width: 40px;
	font-size: 80%;
}

/*======== TITLE - Hints dos formulários ==========*/
a.title_hint {
	text-decoration: none;
	cursor: help;
}

a.title_hint:hover {
	color: #0000CC;
	text-decoration: none;
}

/*=========== Tabela de inclusão de subregistros=========== */
#tabela_subregistro h1 {
	font-weight: bold;
	text-align: center;
	font-size: 100%;
	margin: -5px;
}

#tabela_subregistro td {
	text-align: center;
	padding: 5px;
	font-size: 100%;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
}

.subregistro_tr_01_centro {
	text-align: center;
}

.subregistro_th_titulo th {
	/*----------------- Antes denominada de tdHeader3 ----------*/
	background-color: #D5E1FA;
	text-align: center;
	font-weight: bold;
}

.coluna_radio {
	width: 5%;
}

.coluna_alterar {
	width: 5%;
}

/*========== TR de botões para grid de subregistros =====*/
.botoes_formulario {
	background: inherit;
	background-color: #87AEFC;
	text-align: right;
}

/* Paginação da inclusão de sub registros */
.paginacao_subregistro {
	text-align: center;
}

/*========= LINK OCULTO PARA O TOPO DO SISTEMA ===========*/
.hide {
	position: fixed;
	margin-top: 0px;
	float: left;
	width: 1px;
	height: 1px;
}

.hide a {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	font-size: 0;
	color: #white;
	overflow: hidden;
	text-decoration: none;
}

.hide a:active,.hide a:focus {
	position: absolute;
	overflow: visible;
	margin: 0;
	padding: 1px;
	width: auto;
	height: auto;
	font-size: 0.8em;
	border: 0;
	text-decoration: none;
	background: #ffffcc;
	color: #666;
}

/*===  Barra com os links voltar - imprimir - topo*/
#barraTexto {
	border-color: #3333CC;
	border-top-style: solid;
	border-top-width: 1px;
	clear: both;
	margin-top: 1.5em;
	margin-bottom: 10px;
	text-align: right;
	padding-top: 5px;
}

#sistemaRight {
	text-align: right;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: -85px;
}

#bg {
	background-image: url('../imagens/bck3.jpg');
	background-repeat: repeat-y;
	margin-top: -9px;
	margin-left: -9px;
	margin-right: -9px;
	height: 90px;
}

A.textolinktopo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: underline;
	font-weight: bold;
}

A.textolinktopo2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: red;
	text-decoration: underline;
}

A.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #990000;
	text-decoration: none;
	vertical-align: middle;
}

A.menu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ff6633;
	text-decoration: none;
}

.textoleft {
	text-align: left;
}

.textoright {
	text-align: right;
}

table.width100 {
	width: 100%;
	border: solid 1px #000000;
}

table.formulario {
	width: 100%;
	border: solid 1px #000000;
}

img.formulario {
	border: 0px;
}

table.formulariocadastro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	border-style: none;
	border-width: 0px;
	margin-top: 0px;
	text-align: left;
	font-weight: bold;
	width: 100%;
	background-color: #EBEBEB;
}

table.topoformulario {
	background-color: "#87AEFC";
}

.clearFix:after { /* for modern browsers */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}